* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
*::selection {
  background-color: #ff00ff;
  color: #000000;
}

html,
body {
  font-size: 10px;
  max-width: 100vw;
  overflow: hidden;
  background-color: #1a181f;
  color: white;
  font-family: var(--font-machina);
}
img {
  pointer-events: none;
}

a {
  color: inherit;
  text-decoration: none;
}

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
} */
